[package]
name = "runtime"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
deno_runtime = "0.71.0"
deno_core = "0.145.0"
tokio = { version = "1.19.2", features = ["full"] }
